
@font-face{
  font-family: GoodVibrations;
  src: url(./assets/font/GoodVibrations.ttf);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-style: none;
}

 .jardin{
  position: relative;
  padding-bottom: 100vh;
  width: 100%;
  height: 100vh;
} 
.slider-jardin {
  width: 100%;
  height: 100%;
	overflow: hidden;
  position: absolute;
  z-index: 1;
}

.slider-jardin ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-jardin li {
  max-height: 100vh;
	width: 100%;
	height: 100%;
	list-style: none;
}

.slider-jardin img {
	width: 100%;
  height: 100vh; 
  object-fit: cover;
}

@keyframes slide {
  0% {margin-left: 0;}
  20% {margin-left: 0;}
  
  25% {margin-left: -100%;}
  45% {margin-left: -100%;}
  
  50% {margin-left: -200%;}
  70% {margin-left: -200%;}
  
  75% {margin-left: -300%;}
  100% {margin-left: -300%;}
}

.boda{
  position: absolute;
/*   top: 0rem; */
  z-index: 2;
  width: 100%; 
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dymboda{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.boda h1{
  font-family: GoodVibrations;
  color: #fff;
  font-size: 8rem;
  font-weight: 500;
 text-align: center;
}
.y{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.y > article{
  margin-top :2rem;
  border: #fff solid 0.2rem;
  width: 10rem;
  border-radius: 10rem;
  display: none;
}
.curva{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.boda h2{
  font-family: 'Times New Roman', Times, serif;
  color: #fff;
  font-size: 3.5rem;
  /* font-weight: bold; */
  margin-bottom: 0.7rem;
  text-align: center;
}

.nuestra{
  display: none;
}
.estrellas{
  width: 2rem;
  height: 2rem;
}
.boda h3{
  border: solid #fff 0.1rem;
  width: 30rem;
  border-radius: 1rem;
  margin-bottom: 3vh;
}

.mateo{
  font-size: 1.4rem;
  color: #fff;
  font-style: oblique;
  font-family: 'Times New Roman', Times, serif;
}
.anillo{
  width: 12rem;
  margin-bottom: -0.5rem;
  margin-top: -1rem;
  margin-left: 1rem;
}

/* invitacion */
.inv{
  position: relative;
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 100%;
  height: 30rem;
  margin: 4rem 0;
}
.invitacion{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
}

.invitado{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
  margin-top: 1rem;
  color: #3C4B66;
}
.dym{
  margin-top: 0.2rem;
width: 28rem;
height: 5rem;
}
.frase1{
  color: #3C4B66;
  margin-top: 1rem;
  font-size: 1rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 35rem;
  text-align: center;
}

.fecha{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0rem;
  margin: 0.8rem 0;
}


.dia-mes article{
  align-items: center;
  border: #3C4B66 solid 1.4px;
  width: 9rem;
}

.dia-mes h1{
  color: #3C4B66;
  font-size: 1.2rem;
  text-align: center;
}

.dia{
  width: 7rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dia h1{
  font-size: 5rem;
  color: #3C4B66;
  font-family: serif;
  font-style: italic;
}

.lugar{
  color: #3C4B66;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.frase2{
  color: #3C4B66;
  font-size: 1.2rem;
}

.padres{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.padres h1{
  font-family: GoodVibrations;
  font-size: 2rem;
  color: #3C4B66;
}

.frase3{
  font-family: 'Times New Roman', Times, serif;
  color: #3C4B66;
  font-size: 1.2rem;
}

.marco{
  position: absolute;
  z-index: 2;
  width: 68rem;
  height: 38rem;
}
.marco2{
  display: none;
}
.marco21{
  display: none;
}
.marco1{
  display: none;
}

/** Cronograma*/

.cronograma{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.text-crono, .text-vesti{
  font-family: GoodVibrations;
  font-size: 16vh;
  color: #3C4B66;
  text-align: center;
}

.linea{
  margin-top: 2rem;
  width: 100%;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
}
.linea-principal{
  position: absolute;
  border: solid #3C4B66 2px;
  width: 55rem;
  z-index: 1;
}
.cronograma-linea{
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.horario{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.horario img{
  width: 8rem;
}
.linea-vertical{
  border: #3C4B66 solid 2px;
  width: 5rem;
  transform: rotate(90deg);
  margin: 2rem 0 ;
}

.horario h1{
  font-family: GoodVibrations;
  font-size: 8vh;
  color: #3C4B66;
}

.horario h2{
  font-family: Arial, Helvetica, sans-serif;
  color: #3C4B66;
  font-size: 1.4rem;
  font-weight: bold;
}

.text-h{
  text-align: center;
}
/*** opciones*/

.opciones{
  background-color: #3C4B66;
  height: auto;
  margin-bottom: 3rem;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}

.carda{
  width: 16rem;
  height: 19rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  background-color: #fff;
  border-radius: 0.7rem;
}
.carda h2 > i{
  color: #3C4B66;
  font-size: 5rem;
}
.carda h1{
  font-family:Arial, Helvetica, sans-serif ;
  font-size: 2rem;
  font-weight: bold;
  color: #3C4B66;
  text-align: center;
}
.carda h3{
  font-family:Arial, Helvetica, sans-serif ;
  font-size: 1.5rem;
  font-weight: bold;
  color: #3C4B66;
  text-align: center;
}
.carda a, .ubicacion{
  background-color: #3c4b6600;
  text-decoration: none;
  width: 9rem;
  height: 2.2rem;
  border: #3C4B66 solid 2px;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3C4B66;
  font-size: 1.2rem;
  transition: all 0.6s;
}

.carda a:hover{
  background-color: #3C4B66;
  color: #fff;
}
footer{
  background-color: #3C4B66;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0 1rem 0;
  gap: 0.5rem;
}
footer h1{
  font-family: GoodVibrations;
  color: #fff;
  font-size: 12vh;
  font-weight: 500;
}
footer h2{
  font-family: 'Times New Roman', Times, serif;
  color:#fff;
  font-size: 6vh;
  font-style: oblique;
}

footer p{
  color: #fff;
  font-weight:lighter;
  font-size: 0.8rem;
  margin-top: 2rem;
}

/*** alert*/

/* Estilos personalizados para el botón de confirmación */
.swal2-confirm {
  background-color: #3C4B66 !important; /* Color de fondo */
  width: 11rem !important;
}

/* Estilos personalizados para el botón de cancelación */
.swal2-cancel {
  background-color: #3C4B66 !important; /* Color de fondo */
  color: white; /* Color de texto */
  width: 11rem !important;
}
/** vestimenta*/
.vestimenta{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.vestimenta h2{
  font-family: 'Times New Roman', Times, serif;
  font-size: 4rem;
  color: #3C4B66;
  text-align: center;
}
.vestimenta img{
  width: 20rem;
  margin-bottom: 3rem;
  margin-top: 1rem;
}

/** media query*/
@media (max-width: 1200px){
  .linea{
    height: auto;
  }
  .linea-principal{
    width: 48rem;
  }
  .horario img{
    width: 6rem;
  }
  .horario h1{
    font-size: 3rem;
  }
  .horario h2{
    font-size: 1.1rem;
  }
}
@media (max-width: 1100px){
  .curva{
    display: none;
  }
  .nuestra{
    display: block;
  }
  .nuestra img{
    width: 60rem;
  }
  .boda h3{
    display: none;
  }
  .anillo{
    width: 20rem;
    margin-bottom: -2rem;
  }
  .boda h1{
    font-size: 8rem;
  }
  .boda a{
    margin-top: 1rem;
    width: 15rem;
    font-size: 1.2rem;
  }
  .mateo{
    font-size: 2rem;
    width: 50rem;
    text-align: center;
  }
  .marco{
    width: 58rem;
  }
  .dym{
  width: 25rem;
  height: 4rem;
  }
  .invitado{
    font-size: 1.5rem;
  }
  .dia-mes h1{
  font-size: 1.6rem;
  }
  .dia h1{
    font-size: 5rem;
  }
  .lugar{
    font-size: 1.5rem;
  }
}
@media (max-width: 1000px){
  .boda h1{
    font-size: 7rem;
  }
.text-crono, .text-vesti{
  font-size: 6rem;
}
.vestimenta h2{
  font-size: 3.5;
}
.linea-principal{
  width: 45rem;
}
.linea-vertical{
  width: 4rem;
}
.horario img{
  width: 5rem;
}
.horario h1{
  font-size: 2.5rem;
}
.horario h2{
  font-size: 1rem;
}
footer h2{
  font-size: 4rem;
}
footer h1{
  font-size: 5rem;
}
footer p{
  margin-top: 1rem;
}
}
@media (max-width: 955px){
  .nuestra img{
    width: 50rem;
  }
  .anillo{
    width: 18rem;
  }
  .marco{
    width: 55rem;
    height: 35rem;
  }

  .dia-mes article{
    width: 7rem;
  }
  
  .dia-mes h1{
    font-size: 1.2rem;
    }

  .frase2{
    font-size: 1rem;
  }
  .carda{
    width: 20rem;
  }
  .frase3{
    font-size: 1.1rem;
  }
  .marco{
    width: 52rem;
  }
}
@media (max-width: 900px){
  .boda h1{
    font-size: 6rem;
  }
 .anillo{
  width: 16rem;
 }
 .marco{
  width: 52rem;
  height: 36rem;
}
.inv{
  height: 28rem;
}
}
@media (max-width: 810px){
  .nuestra img{
    width: 45rem;
  }
  .anillo{
    width: 15rem;
  }
  .mateo{
    width: 45rem;
  }
  .marco{
    display: none;
  }
  .marco21{
    position: absolute;
    display: block;
    z-index: 3;
    width: 45rem;
    height: 43rem;
  }
  .inv{
    height: 38rem;
  }
  .invitado{
    font-size: 2rem;
  }
  .dym{
    width: 30rem;
    height: 5rem;
    }
    .frase1{
      font-size: 1.2rem;
      width: 30rem;
    }
  .linea-principal{
    width: 35rem;
  }
  .linea-vertical{
    width: 4rem;
  }
  .horario img{
    width: 4.5rem;
  }
  .horario h1{
    font-size: 2rem;
  }
  .horario h2{
    font-size: 0.9rem;
  }
}
@media (max-width: 750px){
  .nuestra img{
    width: 40rem;
  }
  .anillo{
    width: 14rem;
    margin-bottom: -1rem;
  }
  .mateo{
    width: 40rem;
    font-size: 1.6rem;
  }
  .dymboda{
    flex-direction: column;
    gap: 0.5rem;
    margin-top: -3rem;
  }
  .boda h1{
    font-size: 10rem;
  }
  .y{
    margin-top: -5rem;
  }
  .y > article{
    display: flex;
  }
.boda a{
  margin-top: 2rem;
  width: 18rem;
  height: 3.2rem;
  font-size: 1.5rem;
}
.dia-mes h1{
margin-top: 0.5rem;
font-size: 1rem;
}
.dia{
  width: 5rem;
  height: 2rem;
}
.dia h1{
  font-size: 5rem;
}
.lugar{
  font-size: 1.1rem;
}
.frase2{
  font-size: 0.9rem;
}
.carda{
  width: 25rem;
}
}
@media (max-width: 700px){
  .marco21{
    width: 42rem;
  }
  .frase3{
    margin-top: 0.5rem;
    width: 25rem;
    text-align: center;
  }
  .text-vesti{
    font-size: 5rem;
  }
  .vestimenta h2{
    font-size: 3.5rem;
  }
}
@media (max-width: 650px){
  .nuestra img{
    width: 35rem;
  }
.mateo{
  width: 35rem;
}

.boda h1{
  font-size: 8rem;
}

  .inv{
    height: 38rem;
  }
  .marco1{
    display: none;
  }

  .marco21{
    width: 38rem;
  }

  .frase3{
    width: 25rem;
    text-align: center;
  }
  .linea-principal{
    width: 30rem;
  }
  .dym{
    width: 26rem;
    height: 5rem;
    }
    footer h2{
      font-size: 3rem;
    }
    footer h1{
      font-size: 4rem;
    }
    footer p{
      margin-top: 0.5rem;
    }
}
@media (max-width: 600px){
 footer h1{
  font-size: 8vh;
 }
.mateo{
  width: 30rem;
}
.linea-vertical{
  width: 3.5rem;
}
.horario img{
  width: 4rem;
}
.horario h1{
  font-size: 1.8rem;
}
.horario h2{
  font-size: 0.8rem;
}

.horario h1{
  font-size: 1.6rem;
}
.marco21{
  width: 35rem;
}
.frase1{
  width: 25rem;
  font-size: 1rem;
}
.frase2{
  width: 25rem;
  text-align: center;
  font-size: 1.1rem;
}
.fecha{
  gap: 1rem;
}
.dia-mes article{
  width: 6rem;
}
footer h2{
  font-size: 2rem;
}
footer h1{
  font-size: 3rem;
}
footer p{
  margin-top: 0.5rem;
}
.text-vesti{
  font-size: 4.5rem;
}
.vestimenta h2{
  font-size: 3rem;
}
.vestimenta img{
  width: 15rem;
}
}
@media (max-width: 550px){
  .nuestra img{
    width: 30rem;
  }
  .boda h1{
    font-size: 7rem;
  }
  .y > article{
    width: 8rem;
  }

  .marco21{
    width: 32rem;
  }
  .invitado{
    font-size: 1.5rem;
  }
  .dym{
    width: 24rem;
    height: 4rem;
    }
    .frase1, .frase2{
      width: 23rem;
    }
  
  .linea-principal{
    width: 25rem;
  }
  .linea-vertical{
    width: 3rem;
  }
  .horario img{
    width: 4rem;
  }
  .horario h1{
    font-size: 1.5rem;
  }
  .horario h2{
    font-size: 0.7rem;
  }
  .text-vesti{
    font-size: 4rem;
  }
}
@media (max-width: 500px){
    .nuestra img{
      width: 25rem;
    }
    .dymboda{
      margin-top: 0rem;
    }
    .boda h1{
      font-size: 6rem;
    }
    .y > article{
      width: 6rem;
      border: solid  #fff 2px;
    }
    .mateo{
      width: 25rem;
    }
    .anillo{
      width: 14rem;
    }
  .dym{
    width: 20rem;
    height: 4rem;
    }
    .padres{
      gap: 2rem;
    }
    .frase3,.frase2, .frase1{
      width: 22rem;
    }
    .frase2{
      font-size: 1rem;
    }
    .lugar{
      margin-top: 1rem;
    }
    .padres h1{
      font-size: 1.6rem;
    }
    .marco21{
      width: 28rem;
      height: 42rem;
    }
  .carda{
    width: 18rem;
  }
  .linea{
    margin-top: 1rem;
    margin-left: -1rem;
    height: 20rem;
  }
  .linea-principal{
    transform: rotate(90deg);
    width: 19rem;

  }
  .linea-vertical{
    transform: rotate(0deg);
    width: 5rem;
  }
  .cronograma-linea{
    flex-direction: column;
    margin-left: 1rem;
  }
  .horario{
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .text-vesti{
    font-size: 3.5rem;
  }
  .vestimenta h2{
    font-size: 2.8rem;
  }
}
@media (max-width: 450px){
  .marco21{
    display: none;
  }
  .marco1{
    position: absolute;
    z-index: 4;
    display: block;
    width: 27rem;
    height: 48rem;
  }
  .dym{
    width: 19rem;
    height: 3.5rem;
    }
  .frase1, .frase2, .frase3{
    width: 19rem;
    font-size: 0.9rem;
  }
  .frase3{
    margin-top: 1rem;
    width: 18rem;
  }
  .text-vesti{
    font-size: 3.5rem;
  }
}
@media (max-width: 420px){
  .nuestra img{
    width: 22rem;
  }
  .boda h1{
    font-size: 6rem;
  }
  .y{
    margin-top: -3rem;
  }
  .y > article{
    width: 5rem;
  }
  .mateo{
    width: 21rem;
    font-size: 1.2rem;
  }
  .anillo{
    width: 11rem;
  }

.boda a{
  width: 14rem;
}
.inv{
  height: 32rem;
}
.marco1{
  width: 25rem;
  height: 44rem;
}
.invitado{
  font-size: 1.3rem;
}
.dym{
  width: 16rem;
  height: 3rem;
  }
  .frase1, .frase2{
    font-size: 0.8rem;
  }
  .frase2{
    width: 17rem;
  }
  .padres{
    gap: 1rem;
  }
  .padres h1{
    font-size: 1.4rem;
  }
  .dia-mes article{
    width: 5rem;
  }
  .frase3{
    margin-top: 0.5rem;
    width: 15rem;
    font-size: 0.9rem;
  }
  .text-vesti{
    font-size: 3rem;
  }
  .vestimenta h2{
    font-size: 2.5rem;
  }
}
@media (max-width: 390px){
  .marco1{
    width: 23rem;
    height: 45rem;
  }
  .text-crono{
    font-size: 4rem;
  }
  .dia-mes article{
    width: 4rem;
  }
  .dym{
    width: 15rem;
    height: 3rem;
    }
  .dia-mes h1{
    font-size: 0.8rem;
  }
  .frase3{
    font-size: 0.75rem;
  }
  .lugar{
    font-size: 0.9rem;
  }
  .frase1, .frase2{
    width: 16.5rem;
    font-size: 0.75rem;
  }
  footer h2{
    font-size: 1.5rem;
  }
  footer h1{
    font-size: 2.5rem;
  }
  footer p{
    margin-top: 0.5rem;
  }
  .text-vesti{
    font-size: 2.8rem;
  }
  .vestimenta h2{
    font-size: 2.2rem;
  }
}
@media (max-width: 360px){
  .nuestra img{
    width: 20rem;
  }
  .anillo{
    width: 9rem;
  }
  .boda h1{
    font-size: 5rem;
    margin-top: -1rem;
  }
  .mateo{
    font-size: 1rem;
    width: 18rem;
  }
  .y > article{
    width: 4rem;
  }
  .marco1{
    width: 21rem;
    height: 40rem;
  }
  .inv{
    height: 28rem;
  }
  .dym{
    width: 14rem;
    height: 2.8rem;
    }
    .día{
      font-size: 4rem;
    }
    .fecha{
      gap: 0.6rem;
    }
    .frase2, .frase3{
      font-size: 0.65rem;
    }
    .frase3{
      width: 14rem;
    }
    .padres h1{
      font-size: 1.2rem;
    }
    .carda h3{
      width: 10rem;
      background-color: #3C4B66
    }
}
@media (max-width: 340px){
  .marco1{
    width: 20rem;
  }
  .text-crono{
    font-size: 3rem;
  }
  .text-vesti{
    font-size: 2.2rem;
  }
}
@media (max-width: 300px){
  .boda img{
    width: 5rem;
  }
  .boda h1{
    font-size: 2.2rem;
  }
  .boda h2{
    font-size: 1.4rem;
  }
  .inv{
    height: 18rem;
  }
  .marco2{
    width: 18rem;
    height: 26rem;
  }
  .invitado{
    font-size: 2.1rem;
  }
  .frase1{
    font-size: 0.75rem;
    width: 13rem;
    margin-bottom: 0rem;
  }
  .dia-mes article{
    width: 3rem;
  }
  .dia-mes h1{
  font-size: 0.7rem;
  margin: 0.3rem 0rem;
  }
  .dia{
    width: 3rem;
    height: 1rem;
  }
  .dia h1{
    font-size: 4rem;
  }
  .lugar{
    font-size: 0.7rem;
  }
  .frase2{
    font-size: 0.65rem;
    width: 11rem;
    margin-top: -0.5rem;

  }
}
